@{
    // ViewData doesn't work here, as it is not dynamic, it is dictionary of Object
    // if ViewData has no "Title" on it, Error will happen
    // While ViewBag is dynamic and can add any key
    // https://www.c-sharpcorner.com/blogs/viewdata-vs-viewbag-vs-tempdata-in-mvc1
    
    ViewBag.Title = ViewBag.Title ?? "SportStore";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link  href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>

<div class="bg-dark text-white p-2">
    <span class="navbar-brand ml-2">SPORT STORE</span>
</div>

<div class="row m-1 p-1">
    <div id="categories" class="col-3">
        Put something useful here later
    </div>
    <div class="col-9">
        @RenderBody()
    </div>
</div>


</body>
</html>