@model ProductsListViewModel
<h2>Welcome to SportsStore</h2>

@foreach (Product item in  Model.Products)
{
    <h3>@item.Name</h3>
    <h4>@item.Description</h4>
    <h4>@item.Price.ToString("C")</h4>
                  
}
<div page-model="@Model.PagingInfo" page-action="Index"></div>